<h4 class="text-gray-600 mb-4">AIによる歌詞解説</h4>
<div class="w-full max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-4 p-4">
  <p class ="ml-4 mr-4 mt-4 mb-4 text-gray-600 text-left"><%= @explain %></p>
</div>