<% unless user_signed_in? %>
  <div class="homes_introduction">
    <h1>fav-lyri（ファブリリ）</h1>
    <h2>ー好きな歌詞や音楽で繋がる音楽共有プラットフォームー</h2>
    <h3>fav-lyriで発信！</h3>
      <p>
        辛いとき、悲しいとき、嬉しいとき、この曲のこの歌詞が響いた！という経験はありませんか。<br>
        もしくは、『え？この歌詞ってどういう意味？解釈これであってるのかな？』と疑問に思ったことはありませんか。
      </p>
      <p>
        そんなときにお役に立てるのが音楽で繋がるSNSアプリ、『fav-lyri』です。<br>
        匿名で、歌詞について語り合ってみませんか。
      </p> 
      <p>
        特定のアーティストのファンでなくても構いません。<br>
        『素敵だな』、『気になるな』と感じたときに気軽に投稿してみましょう。<br>
      </p>
    <h3>fav-lyriで発見！</h3>
      <p>
        『いつも聴いている曲もいいけど、新しい音楽に出会いたい！』そんなあなたに。<br>
        多様な検索方法をご提供しております。
      </p>
      <p>
        お気に入りの投稿を見つけたら、『いいね』しましょう！<br>
        趣味のあうユーザーが見つかれば、フォローするのもおすすめです。
      </p>
    <h3>fav-lyriでできること</h3>
    <h4>他のユーザーの投稿を見て楽しむ！</h4>
    <h5>検索機能</h5>
      <p>次の条件で他のユーザーの投稿から検索することができます。</p>
      <p>【 歌詞の一部 / 曲名 / アーティスト名 / 今の気分 】</p>
    <h5>閲覧数ランキング機能</h5>
      <p>直近１か月で人気のあった投稿をランキングページでご紹介しております。</p>
    <h5>楽曲再生機能</h5>
      <p>投稿詳細ページにて、対象の曲のプレビュー再生が可能です。</p>
    <h4>ログインするとさらに楽しい！</h4>
    <h5>投稿機能</h5>
      <p>お気に入りの歌詞についての投稿・編集・削除が可能です。</p>
    <h5>コメント機能</h5>
      <p>気になる投稿にコメントが可能です。</p>
    <h5>お気に入り機能</h5>
      <p>気になる投稿を『いいね』して後で見返すことが可能です。</p>
    <h5>フォロー機能</h5>
      <p>気になるユーザーをフォローすることが可能です。</p>
    <h5>通知機能</h5>
      <p>他のユーザーから『いいね』『フォロー』『コメント』があると通知画面でお知らせします。</p>  
    <h2>Why don't you enjoy fav-lyri?</h2>
  </div>
<% else %>
  <div class="homes_introduction">
    <%= "#{current_user.user_profile.name}さん、こんにちは。" %>
    <h1>fav-lyri（ファブリリ）</h1>
    <h2>ー好きな歌詞や音楽で繋がる音楽共有プラットフォームー</h2>
    <h3>fav-lyriで発信！</h3>
      <p>
        辛いとき、悲しいとき、嬉しいとき、この曲のこの歌詞が響いた！という経験はありませんか。<br>
        もしくは、『え？この歌詞ってどういう意味？解釈これであってるのかな？』と疑問に思ったことはありませんか。
      </p>
      <p>
        そんなときにお役に立てるのが音楽で繋がるSNSアプリ、『fav-lyri』です。<br>
        匿名で、歌詞について語り合ってみませんか。
      </p> 
      <p>
        特定のアーティストのファンでなくても構いません。<br>
        『素敵だな』、『気になるな』と感じたときに気軽に投稿してみましょう。<br>
      </p>
    <h3>fav-lyriで発見！</h3>
      <p>
        『いつも聴いている曲もいいけど、新しい音楽に出会いたい！』そんなあなたに。<br>
        多様な検索方法をご提供しております。
      </p>
      <p>
        お気に入りの投稿を見つけたら、『いいね』しましょう！<br>
        趣味のあうユーザーが見つかれば、フォローするのもおすすめです。
      </p>
    <h3>fav-lyriでできること</h3>
    <h4>他のユーザーの投稿を見て楽しむ！</h4>
    <h5>検索機能</h5>
      <p>次の条件で他のユーザーの投稿から検索することができます。</p>
      <p>【 歌詞の一部 / 曲名 / アーティスト名 / 今の気分 】</p>
    <h5>閲覧数ランキング機能</h5>
      <p>直近１か月で人気のあった投稿をランキングページでご紹介しております。</p>
    <h5>楽曲再生機能</h5>
      <p>投稿詳細ページにて、対象の曲のプレビュー再生が可能です。</p>
    <h4>ログインするとさらに楽しい！</h4>
    <h5>投稿機能</h5>
      <p>お気に入りの歌詞についての投稿・編集・削除が可能です。</p>
    <h5>コメント機能</h5>
      <p>気になる投稿にコメントが可能です。</p>
    <h5>お気に入り機能</h5>
      <p>気になる投稿を『いいね』して後で見返すことが可能です。</p>
    <h5>フォロー機能</h5>
      <p>気になるユーザーをフォローすることが可能です。</p>
    <h5>通知機能</h5>
      <p>他のユーザーから『いいね』『フォロー』『コメント』があると通知画面でお知らせします。</p>  
    <h2>Why don't you enjoy fav-lyri?</h2>
  </div>
<% end %>